{% extends "_layout" %}

{% block content %}
	<section class="hb-header hb-plantit hide-for-print">
				    	<div class="row">
				    		<div class="small-12 columns">
				    			<div class="hb-header-inner">
				    				<h1>Plant It</h1>
				    				<p class="hb-header-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse molestie convallis vestibulum. Etiam iaculis euismod orci, id ultricies augue malesuada nec. Maecenas ut nulla at risus aliquam efficitur.</p>
				    			</div>
				    		</div>
				    	</div>	
				    </section>
				    <section class="hb-main-content">
				    	<div class="row">
				    	
				    		<div class="small-12 medium-4 large-3 columns hide-for-print">
				    			<div class="side-nav-wrapper callout">
				    				<h4>Zoeken op naam</h4>
				    				<!-- Zoeken op naam form -->
				    				<form action="{{ url('plantit/results') }}">
				    					<div class="row">
				    					    <div class="medium-12 columns">
				    					        <input type="search" onchange="this.form.submit()" name="naam" placeholder="Zoeken"><br>
				    					    </div>
				    				  	</div>
				    				  	<a class="expanded secondary button" href="#">Zoeken</a>
				    				</form>
				    				<br>
				    				<!-- Zoeken op criteria form -->
				    				<h4>Zoeken op criteria</h4>
				    
				    				<form action="{{ url('plantit/results') }}">	
				    
				    				  	<fieldset class="fieldset">
				    						<legend>Oorsprong</legend>
				    						<input type="radio" onchange="this.form.submit()" id="checkbox12" type="radio" name="oorsprong" value="inheems" ><label for="checkbox12">Inheems</label><br>
				    						<input type="radio" onchange="this.form.submit()" id="checkbox22" type="radio" name="oorsprong" value="uitheems" ><label for="checkbox22">Uitheems</label>
				    					</fieldset>
				    
				    					<label>Groep
				    					  <select name="groep" onchange="this.form.submit()" >
											<option></option>
				    					    <option value="Heesters">Heesters</option>
				    					    <option value="Coniferen">Coniferen</option>
				    					    <option value="vastePlanten">Vaste Planten</option>
				    					    <option value="Bomen">Bomen</option>
				    					    <option value="Fruitbomen">Fruitbomen</option>
				    					    <option value="Kruiden">Kruiden</option>
				    					    <option value="Grassen">Grassen</option>
				    					    <option value="Landbouwgewassen">Landbouwgewassen</option>
				    					  </select>
				    					</label>
				    
				    					<label>Bloemkleur
				    					  <select name="bloemkleur" onchange="this.form.submit()">
											<option></option>
				    					    <option value="Rood">Rood</option>
											<option value="Oranje" >Oranje</option>
											<option value="Geel" >Geel</option>
				    					    <option value="Groen" >Groen</option>
				    					    <option value="Blauw">Blauw</option>
				    					    <option value="Paars" >Paars</option>
											<option value="Roze" >Roze</option>
				    					    <option value="Wit" >Wit</option>
				    					  </select>
				    					</label>
				    
				    					<label>Bloeimaand
				    					  <select name="bloeimaand" onchange="this.form.submit()">
											<option></option>
				    					    <option value="1">Januari</option>
				    					    <option value="2">Februari</option>
				    					    <option value="3">Maart</option>
				    					    <option value="4" >April</option>
				    					    <option value="5" >Mei</option>
				    					    <option value="6" >Juni</option>
				    					    <option value="7" >Juli</option>
				    					    <option value="8" >Augustus</option>
				    					    <option value="9" >September</option>
				    					    <option value="10">Oktober</option>
				    					    <option value="11" >November</option>
				    					    <option value="12" >December</option>
				    					  </select>
				    					</label>
				    
				    					<fieldset class="fieldset">
				    						<legend>Hoogte (in cm)</legend>
				    						<div class="small-12 columns">
				    						  <div class="slider" data-slider data-start="0" data-end="200" data-initial-start="100" data-step="20" data-decimal="0">
				    						    <span class="slider-handle"  data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutput"></span>
				    						    <span class="slider-fill" data-slider-fill></span>
				    						  </div>
				    						</div>
				    						<div class="small-12 columns">	
				    						  <input type="number" id="sliderOutput">
				    						</div>
				    					</fieldset>
				    
				    					<fieldset class="fieldset">
				    						<legend>Habitat</legend>
				    						
				    						<label>Licht
				    						  <select name="licht" onchange="this.form.submit()">
												<option></option>
				    						    <option value="zon" >Zon</option>
				    						    <option value="halfschaduw" >Half-Schaduw</option>
				    						    <option value="schaduw" >Schaduw</option>
				    						  </select>
				    						</label>
				    
				    						<label>Grondsoort
				    						  <select name="grond" onchange="this.form.submit()">
												<option></option>
				    						    <option value="zand" >Zand</option>
				    						    <option value="leem" >Leem</option>
				    						    <option value="klei" >Klei</option>
				    						    <option value="veen" >Veen</option>
				    						  </select>
				    						</label>
				    
				    						<label>PH
				    						  <select name="ph" onchange="this.form.submit()">
												<option></option>
				    						    <option value="zuurminnend" >Zuurminnend</option>
				    						    <option value="neutraal" >Neutraal</option>
				    						    <option value="kalkminnend" >Kalkminnend</option>
				    						  </select>
				    						</label>
				    
				    						<label>Vochtigheid
				    						  <select name="vocht" onchange="this.form.submit()">
												<option></option>
				    						    <option value="droog" >Droog</option>
				    						    <option value="gemiddeld" >Gemiddeld</option>
				    						    <option value="vochthoudend" >Vochthoudend</option>
				    						    <option value="sterkWisselendeOmstandigheden" >sterk wisselende omstandigheden</option>
				    						    <option value="regelmatigOverstroomdeBodems" >regelmatig overstroomde bodems</option>
				    						  </select>
				    						</label>
				    
				    					</fieldset>
				    
				    					<fieldset class="fieldset">
				    					  <legend>Bijenvriendelijkheid</legend>
				    					  <input id="Nectarleverancier" type="checkbox"><label for="Nectarleverancier">Nectarleverancier</label><br>
				    					  <input id="Pollenleverancier" type="checkbox"><label for="Pollenleverancier">Pollenleverancier</label><br>
				    					  <input id="npleverancier" type="checkbox"><label for="npleverancier" class="pollen">Nectar- en pollenleverancier</label><br>
				    					</fieldset>
				    
				    					<a class="expanded secondary button" href="#">Zoeken</a>
				    
				    				</form> 
				    			</div>
				    		</div>
				    
				    		<div class="small-12 medium-8 large-9 columns">

				    			<h3 class="article-title">PlantIt Database</h3>
								<div class="article-body-text">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta et nulla ut venenatis. Suspendisse malesuada vestibulum imperdiet. Nullam vitae tincidunt purus. Etiam eu suscipit arcu, sed tincidunt odio. Phasellus vulputate sem ex, non tincidunt risus ullamcorper at. Phasellus a neque in metus elementum sagittis. Fusce ut mauris sed est mollis faucibus. Etiam elementum dictum eros, non venenatis ligula maximus a. Fusce sit amet metus dui. Aenean consequat mattis ornare. Morbi orci nibh, pellentesque ac mattis vestibulum, porttitor id quam. Etiam dapibus, neque ac maximus scelerisque, sem massa bibendum arcu, sit amet pharetra sapien nisi a leo. Ut tristique tortor sed mauris pharetra iaculis non vitae velit. Vivamus ut nibh egestas, ullamcorper nisl ut, viverra justo.</p>
								</div>
				    
				    		</div>
				    	</div>
				    </section>
{% endblock %}
