{% extends "_layout" %}

{% block content %}
					<section class="hb-header hb-overons hide-for-print">
				    	<div class="row">
				    		<div class="small-12 columns">
				    			<div class="hb-header-inner">
				    				<h1>Over ons</h1>
				    				<p class="hb-header-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse molestie convallis vestibulum. Etiam iaculis euismod orci, id ultricies augue malesuada nec. Maecenas ut nulla at risus aliquam efficitur.</p>
				    			</div>
				    		</div>
				    	</div>	
				    </section>
				    
				    <section class="hb-main-content">

				    	<div class="row">
				    		<div class="small-12 columns hide-for-print">
				    			<nav aria-label="You are here:" role="navigation">
				    		        <ul class="breadcrumbs">
				    		        <li><a href="/partners">{{ entry.section.name }}</a></li>
				    		        {% if entry.level > 1 %}
								        {% for crumb in entry.getAncestors() %}
								            <li>{{ crumb.getLink() }}</li>
								        {% endfor %}
									{% endif %}
									<li>{{ entry.title }}</li>
									</ul>
				    		    </nav>
				    		</div>
				    	</div>
				    
				    	<div class="row">
				    		<div class="small-12 medium-4 large-3 columns hide-for-print">
				    			<div class="side-nav-wrapper callout">
				    			<h4>Navigatie</h4>
				    				{% set entries = craft.entries.section('partners') %}
				    				<ul class="vertical menu" data-accordion-menu>
				    					{% nav entry in entries %}
						    				  <li>
						    				    <a href="{{ entry.url }}">{{ entry.title }}</a>
						    				    {% ifchildren %}
						    				    <ul class="menu vertical nested">
						    				      {% children %}
						    				    </ul>
						    				    {% endifchildren %}
						    				  </li>
				    				  {% endnav %}
				    				</ul>

				    			</div>
				    		</div>
				    		<div class="small-12 medium-8 large-9 columns">
				    			
				    			
				    			<h3 class="article-title">{{ entry.title }}</h3>

				    			{% include "_includes/artikel" %}

				    		</div>
				    	</div>
				    
				    </section>
{% endblock %}
