{% extends "_layout" %}

{% block content %}
{% set asset = headers.projectportfolioHeaderBeeld.first() %}
<section class="hb-header hide-for-print" style="background-image: linear-gradient(rgba(71, 75, 82, 0.6), rgba(41, 32, 30, 0.6)), url({% if asset %} {{ asset.url }} {% endif %});">
	<div class="row">
		<div class="small-12 columns">
			<div class="hb-header-inner">
				<h1>{{ headers.projectportfolioHeader }}</h1>
				<p class="hb-header-paragraph">{{ headers.projectportfolioHeaderSubtitel }}</p>
			</div>
		</div>
	</div>	
</section>

<section class="hb-main-content">

	<div class="row">
		<div class="small-12 medium-4 large-3 columns hide-for-print">
			<div class="side-nav-wrapper callout">
			<h4>Navigatie</h4>
				{% set entries = craft.entries.section('Projectportfolios').level(1) %}
				<ul class="vertical menu" data-accordion-menu>
					{% nav entry in entries %}
	    				  <li>
	    				    <a href="{{ entry.url }}">{{ entry.title }}</a>
	    				  </li>
				  {% endnav %}
				</ul>

			</div>
		</div>
		<div class="small-12 medium-8 large-9 columns">

			<div class="row">
				<div class="small-12 columns">
					<h3 class="article-title">{{ entry.title }}</h3>
					{% include "_includes/artikel" %}
				</div>
			</div>

				<!-- Start Klikbare Thumbnails -->
					<div class="row small-up-1 medium-up-2 large-up-3">
					{% set entries = craft.entries.section('Projectportfolios').level('1') %}
						
						<!-- Start Herhaalbaar item -->
						{% nav entry in entries %}
							<div class="column">
								<a href="{{ entry.url }}">
									{% for image in entry.featureImage.limit(1).order('RAND()') %}
										<div class="section-item-wrapper" style="background-image: url({{ image.url }});">
											<div class="section-item-title-wrapper">
												<h4><i class="fa fa-caret-right"></i> {{ entry.title }}</h4>
											</div>
										</div>
									{% endfor %}
								</a>
							</div>
						{% endnav %}

					</div>
				<!-- Einde Klikbare Thumbnails -->

		</div>
	</div>

</section>
{% endblock %}
