{% extends "_layout" %}
{% block content %}

{% set asset = headers.homepageHeaderBeeld.first() %}
<section class="hb-header hide-for-print" style="background-image: linear-gradient(rgba(71, 75, 82, 0.6), rgba(41, 32, 30, 0.6)), url({% if asset %} {{ asset.url }} {% endif %});">
	<div class="row">
		<div class="small-12 columns">
			<div class="hb-header-inner">
				<h1>{{ headers.homepageHeader }}</h1>
				<p class="hb-header-paragraph">{{ headers.homepageHeaderSubtitel }}</p>
			</div>
		</div>
	</div>	
</section>

<section class="hb-main-content">
	<div class="row">
		<div class="small-12 medium-7 large-8 columns">
			<div class="news-item">
				<div class="row">
					<div class="small-12 columns">
						<h2>{{ entry.title }}</h2>
						<p class="post-date"><i class="fa fa-clock-o"></i> {{ entry.postDate }}</p>
					</div>
				</div>
			  
		    	{% for block in entry.homepageNieuws %}
		    		{% switch block.type %}
		    		{% case 'blokIntro' %}
		    			{% for image in block.introAfbeelding %}
		    				<img class="news-item-image" src="{{ image.getUrl }}" alt="{{ image.title }}">
		    			{% endfor %}
		    			{{ block.introTekst }}
		    		{% endswitch %}	
				{% endfor %}

				{% include "_includes/artikel" %}

			</div>					     
		</div>

		<div class="medium-5 large-3 large-offset-1 hide-for-small-only columns">
		<!-- Start sidebar -->
		{% include "_includes/sidebar" %}
		<!-- End sidebar -->
		</div>
	</div>
</section>

{% endblock %}
