{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
{% set asset = headers.homepageHeaderBeeld.first() %}
<section class="hb-header hb-homepage hide-for-print" style="background-image: linear-gradient(rgba(71, 75, 82, 0.6), rgba(41, 32, 30, 0.6)), url({% if asset %} {{ asset.url }} {% endif %});">
	<div class="row">
		<div class="small-12 columns">
			<div class="hb-header-inner">
				<h1>{{ headers.homepageHeader }}</h1>
				<p class="hb-header-paragraph">{{ headers.homepageHeaderSubtitel }}</p>
			</div>
		</div>
	</div>	
</section>

<section class="hb-main-content">
	<div class="row">
		<div class="small-12 medium-7 large-8 columns">

		<!-- start blog items -->
		{% paginate craft.entries.section('homepage').limit(5) as pageEntries %}
			{% for entry in pageEntries %}
				<div class="news-item">
					<div class="row">
						<div class="small-12 columns">
						    <h2>{{ entry.title }}</h2>
						    <p class="post-date"><i class="fa fa-clock-o"></i> {{ entry.postDate }}</p>
						</div>
					</div>

					<div class="row">	
						<div class="small-12 columns">    
					    	{% for block in entry.homepageNieuws %}
					    		{% switch block.type %}
					    		{% case 'blokIntro' %}
					    			{% for image in block.introAfbeelding %}
					    				<img class="news-item-image" src="{{ image.getUrl }}" alt="{{ image.title }}">
					    			{% endfor %}
					    			{{ block.introTekst }}
					    		{% endswitch %}	
							{% endfor %}
							 <a href="{{ entry.url }}" class="button">Meer lezen...</a>
					    </div>
					    
				    </div>
			    </div>
		    {% endfor %}
		<!-- end blog items -->
		        
		</div>
		<div class="medium-5 large-3 large-offset-1 hide-for-small-only columns">
		<!-- Start sidebar -->
		{% include "_includes/sidebar" %}
		<!-- End sidebar -->
		</div>
	</div>
</section>

{% endblock %}
